/* VERSION DESKTOP */

@media (min-width: 769px) {
  /* PARAMETRES GENERAUX */

  /* Wrapper*/

  #main-wrapper {
    max-width: 1400px;
  }

  /* Loader */

  .loader::after {
    left: 46%;
  }

  /* Header */

  h1 {
    font-size: 40px;
  }

  .slogan {
    .explorer {
      margin-left: 35%;
      margin-right: 35%;
    }
  }

  /* Section - Fonctionnement */

  .processus {
    margin-right: 25%;
    margin-left: 25%;
  }

  /* Section - Restaurant */

  .restaurant {
    h2 {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .choix-restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .information-restaurant {
    width: 35%;
    img {
      height: 300px;
    }
  }

  /* Footer */

  footer {
    h4 {
      margin-left: 5%;
    }
    .partenariat {
      margin-left: 5%;
    }
    .mentions-legales {
      margin-left: 5%;
    }
    .contact {
      margin-left: 5%;
    }
  }

  /* Menu - Restaurant */

  /* Header - Menu */

  .header-menu {
    img {
      height: 300px;
    }
  }
  /* Main - Menu */

  .carte-menu {
    max-width: 1400px;
  }

  /* Section - Entrée Plats Desserts */

  .entrees-plats-desserts {
    margin-bottom: 30px;
    .intitule-plat {
      margin-bottom: 10px;
    }

    .choix {
      width: 100%;
    }

    .choix-plat {
      .plat {
        width: 100%;
      }
    }
  }

  /* Section - Commander */

  .commander {
    .passer-la-commande {
      margin-top: 45px;
      margin-left: 25%;
      margin-right: 25%;
    }
  }

  /* Footer - Menu */

  footer {
    h4 {
      margin-left: 6%;
    }
    .partenariat {
      margin-left: 6%;
    }
    .mentions-legales {
      margin-left: 6%;
    }
    .contact {
      margin-left: 6%;
    }
  }
}
